<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--base-->
    <bean id="user1" class="start.spring.bean.base.User1"/>

    <bean id="user2" class="start.spring.bean.base.User2">
        <property name="name" value="John"/>

        <!--<property name="name">-->
        <!--    <null/>-->
        <!--</property>-->

        <!--<property name="name">-->
        <!--    <value><![CDATA[<John>]]></value>-->
        <!--</property>-->
    </bean>

    <!--<bean id="user2" class="start.spring.bean.base.User2" p:name="John"/>-->

    <bean id="user3" class="start.spring.bean.base.User3">
        <constructor-arg name="name" value="John"/>
    </bean>

    <!--Same as user2-->
    <bean id="user" class="start.spring.bean.User">
        <property name="name" value="John"/>
    </bean>

    <!--school-->
    <bean id="student" class="start.spring.bean.school.Student">
        <property name="id" value="1"/>
        <property name="name" value="John"/>
        <property name="teacher" ref="teacher"/>
        <!--<property name="teacher.name" value="Carter"/>-->
        <!--<property name="teacher">-->
        <!--    <bean id="teacher" class="start.spring.bean.school.Teacher">-->
        <!--        <property name="name" value="Finch"/>-->
        <!--    </bean>-->
        <!--</property>-->
    </bean>
    <bean id="teacher" class="start.spring.bean.school.Teacher">
        <property name="name" value="Finch"/>
    </bean>

    <!--collection-->
    <bean id="course" class="start.spring.bean.collection.Course">
        <property name="courses">
            <array>
                <value>Chinese</value>
                <value>Maths</value>
                <value>English</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>LI</value>
                <value>ST</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="one" value="one"/>
                <entry key="two" value="two"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>Spring</value>
                <value>SpringMVC</value>
            </set>
        </property>
        <property name="lessons">
            <list>
                <ref bean="lesson1"/>
                <ref bean="lesson2"/>
            </list>
        </property>
        <property name="utils" ref="utils"/>
    </bean>
    <bean id="lesson1" class="start.spring.bean.collection.Lesson">
        <property name="name" value="Spring"/>
    </bean>
    <bean id="lesson2" class="start.spring.bean.collection.Lesson">
        <property name="name" value="SpringMVC"/>
    </bean>
    <util:list id="utils">
        <value>u1</value>
        <value>u2</value>
        <value>u3</value>
    </util:list>

    <!--factory-->
    <bean id="factory" class="start.spring.bean.factory.Factory"/>
    <!--<bean id="factory" class="start.spring.bean.factory.Factory" scope="singleton"/>-->
    <!--<bean id="factory" class="start.spring.bean.factory.Factory" scope="prototype"/>-->

    <!--LifeCycle-->
    <bean id="life" class="start.spring.bean.life.Life" init-method="init" destroy-method="destroy">
        <property name="name" value="life"/>
    </bean>
    <!--affect all beans-->
    <!--<bean id="post" class="start.spring.bean.life.Post"/>-->

    <!--Autowire-->
    <!--<bean id="employee" class="start.spring.bean.autowire.Employee" autowire="byName"/>-->
    <bean id="employee" class="start.spring.bean.autowire.Employee" autowire="byType"/>
    <bean id="department" class="start.spring.bean.autowire.Department">
        <property name="name" value="dept"/>
    </bean>

    <!--druid data source-->
    <context:property-placeholder location="jdbc.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/start"/>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="abc123"/>-->
    </bean>

</beans>